

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

body{
  background-image: url("../dist/b8.jpg");
  background-size: cover;
  font-family: 'IM Fell French Canon SC', serif;
}

.hidden{
  display:none;
}

.menu{
  border: 10px solid black;
  position: relative;
}

.startButton{
  position: absolute;
  left: 45%;  
  /* calc(50%-width of button); */
  top: 45%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.second-half{
  background: rgba(255, 255, 255, 0.562);
  display:flex;
  flex-direction: column;
  width: 800px;
  height: 520px;
}

.middle{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.middle canvas{
  /* border: 5px solid rgba(255, 255, 255, 0.171); */
    border: 10px solid black;
  /* background: rgba(255, 255, 255, 0.562);  */
}


.description{
  width: 150px;
  margin-left: 10px;
  background-color: rgba(235, 220, 220, 0.466);
  padding: 10px;
  font-weight: bold;
}

.title{
  width: 90px;
  /* background: rgba(255, 255, 255, 0.596);
  border-radius: 50%;
  padding: 20px; */
  display: flex;
  justify-content: center;
  align-content: center;
}

.middle-right{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.199);
  width: 40px;
  margin-left: 65px;
  margin-top: 20px;
}

.fa-linkedin, .fa-github-square, .fa-user-alt, .fa-angellist{
  font-size: 30px;
  cursor: pointer;
}

.button:hover{
  background-color: rgba(168, 168, 168, 0.849);
  cursor: pointer;
}
/* .fa-github-square{
  font-size: 30px;
  cursor: pointer;
}

.fa-user-alt{
  font-size: 30px;
  cursor: pointer;

}

.fa-angellist{
  font-size: 30px;
  cursor: pointer;

} */

.button{
  height: 50px;
  width: 50px;
}

.footer{
  background-color: rgba(255, 255, 255, 0.747);
  padding: 5px;
  text-align: center;
}


.fa-copyright{
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
}



